<div class="myModalContainer" [ngClass]="{'has-loading': !topicsReady}">
  <div class="modal-header" [hidden]="!topicsReady">
      <h4 class="modal-title pull-left font-weight-300 font-16">Add Topics</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="close()" *ngIf="!processing">
         <i class="mdi mdi-close"></i>
      </button>
  </div>
  <div class="modal-body" [hidden]="!topicsReady">
      <div class="col-md-12 p-t-5 p-b-5 button-region">
          <div class="form-group display-flex no-m-b">
              <div class="flex-grow-100">
                  <input type="text" id="search" name="search" #searchText class="form-control flex-grow-100 no-m-b" placeholder="Search" (input)="search(searchText.value)">
              </div>
          </div>
      </div>
      <div class="col-md-12 modal-body-container">
         <div class="col-md-12">
            <div [hidden]="!contentLoading" id="contentLoading" class="content-loading-preloader">  
               <svg class="circular" viewBox="25 25 50 50">
                  <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
               </svg>
            </div>

               <!-- Show list of topics-->
            <p class="font-13 m-t-10 m-b-10" *ngIf="pagination.totalCount > 0" [hidden]="contentLoading">
               Showing
               <span class="font-weight-400">
                  {{pagination.currentPage * pagination.itemsPerPage - (pagination.itemsPerPage - 1)}}
                  <span *ngIf="(pagination.currentPage * pagination.itemsPerPage - (pagination.itemsPerPage - 1)) != pagination.totalCount">
                     -
                     <span *ngIf="pagination.currentPage * pagination.itemsPerPage < pagination.totalCount">{{pagination.currentPage * pagination.itemsPerPage}}</span>
                     <span *ngIf="pagination.currentPage * pagination.itemsPerPage >= pagination.totalCount">{{pagination.totalCount}}</span>
                  </span>
               </span>
               of <span>{{pagination.totalCount}}</span>
            </p>
            <div class="table-responsive overflow-visible" [hidden]="contentLoading">
               <table class="table shop-cart tab-table info-table table-hover has-button has-checkbox">
                  <thead>
                     <tr>
                        <th class="no-border-top check-box-header"></th>
                        <th class="text-left font-weight-500 text-small no-border-top">
                           Name
                        </th>
                        <th class="text-left font-weight-500 text-small no-border-top">
                           Shared Paths
                        </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let Topic of Topics">
                           <td>
                              <input type="checkbox" id=checkbox-extopic-{{Topic.id}} class="filled-in chk-col-light-orange"
                                    (change)="toggleTopic(Topic)" [checked]="isTopicSelected(Topic.id)">
                              <label class="no-m-b" for="checkbox-extopic-{{Topic.id}}"></label>
                           </td>
                           <td>{{Topic.name}}</td>
                           <td class="shared-lp-holder" style="width: auto;">
                              <span *ngFor="let item of Topic.learningPath" class="shared-lp-item"><span class="font-12 opacity-5">{{showParent(item)}}</span>{{item.name}}</span>
                           </td>
                     </tr>
                     <tr *ngIf="Topics.length == 0 && !contentLoading"><td colspan="2" class="no-hover">No results found</td></tr>
                  </tbody>
               </table>
            </div>
            <p class="font-13 m-b-10" *ngIf="pagination.totalCount > 0" [hidden]="contentLoading">
               Showing
               <span class="font-weight-400">
                     {{pagination.currentPage * pagination.itemsPerPage - (pagination.itemsPerPage - 1)}}
                     <span *ngIf="(pagination.currentPage * pagination.itemsPerPage - (pagination.itemsPerPage - 1)) != pagination.totalCount">
                        -
                        <span *ngIf="pagination.currentPage * pagination.itemsPerPage < pagination.totalCount">{{pagination.currentPage * pagination.itemsPerPage}}</span>
                        <span *ngIf="pagination.currentPage * pagination.itemsPerPage >= pagination.totalCount">{{pagination.totalCount}}</span>
                     </span>
               </span>
               of <span>{{pagination.totalCount}}</span>
            </p>

            <!-- Pagination Control -->
            <div class="col-xl-12 card-body-lr-p" [hidden]="contentLoading" *ngIf="pagination.totalCount > pagination.itemsPerPage">
                <app-my-pagination [pagination]="pagination" (pageChanged)='pageChanged($event)'></app-my-pagination>
            </div>
         </div>
      </div>
   </div>
   <div class="modal-footer" [hidden]="!topicsReady">
         <button type="button" class="btn no-m-r pull-right i-rounded i-bordered font-13 cursor-pointer i-grey-disabled" 
            (click)="close()" [disabled]="processing">Cancel</button>
         <button type="button" class="btn no-m-r pull-right i-rounded i-violet i-grey-disabled i-bordered font-13 cursor-pointer" 
            (click)="save()" [disabled]="SelectedTopics.length == 0 || processing">Select
            <span *ngIf="processing" class="loader loader-small display-inline-block ng-hide pull-right no-animate"></span>
         </button>
   </div>
   <div class="preloader position-absolute" [hidden]="topicsReady">
         <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
         </svg>
   </div>
</div>
