<header>
   <div class="container">
      <div class="bubble-one"></div>
      <div class="bubble-two"></div>
      <div class="bubble-three"></div>
      <div class="bubble-four"></div>
      <div class="bubble-five"></div>
      <div class="bubble-six"></div>

      <div class="icon-box-one"><img src="assets/images/home/panda.svg" alt=""></div>
      <div class="icon-box-two"><span>100%</span></div>
      <div class="icon-box-three"><img src="assets/images/home/splash_bg_icon1.svg" alt=""></div>
      <div class="icon-box-four"><img src="assets/images/home/stats.svg" alt=""></div>
      <div class="icon-box-five"><img src="assets/images/home/star.svg" alt=""></div>
      <div class="icon-box-six"><img src="assets/images/home/raccon.svg" alt=""></div>
      <div class="icon-box-seven"><img src="assets/images/home/atom.svg" alt=""></div>
      <div class="icon-box-eight"><span>20%</span></div>

      <div class="row text-center">
         <div class="col-12">
            <h1>Learning is a journey.<br />We go with you all the way.</h1>
            <p class="col-lg-6 mr-auto ml-auto">Accave brings all the strengths of brick and mortar schools and merges it with the benefits of an online platform</p>
         </div>
         <div class="col-12 app-sample">
            <div class="circle"></div>
            <img class="mr-auto ml-auto" src="assets/images/home/device-sample.png"/>
         </div>
         <div class="col-12 ready">
            <p>Ready to begin? Subscribe to have access</p>
            <a class="btn btn-purple">Subscribe<!--₦0,000/term--></a>
         </div>
      </div>
   </div>
</header>

<section class="benefits">
   <div class="container">
      <div class="row">
         <div class="col-lg-5">
            <h2>Benefits of Accave</h2>
            <h3>Studying has become fun and easy</h3>
            <p>Accave sums up into one brilliant suite that does its job of delivering knowledge magnificiently. Our learning materials are fun videos and text/notes to supplement them. </p>
            <a class="btn btn-purple">Subscribe</a>
         </div>
         <div class="col-lg-7">
            <div class="row">
               <div class="col-lg-6 col-md-6 first-info-set">
                  <div class="info-box">
                     <img src="assets/images/home/wallet.svg">
                     <h4>Affordable</h4>
                     <p>Accave is way cheaper than schools that have walls. It gives you what the best schools offer, and more, for less the cost.</p>
                  </div>
                  <div class="info-box">
                     <img src="assets/images/home/movie.svg">
                     <h4>Engaging Content</h4>
                     <p>Every video is animated to make learning more fun for you. We also ensured that the teacher’s voice is as audible as possible.</p>
                  </div>
               </div>
               <div class="col-lg-6 col-md-6">
                  <div class="info-box">
                     <img src="assets/images/home/flag.svg">
                     <h4>Learning Challenges</h4>
                     <p>You won’t get bored, we promise! You also get rewarded for every challenge you subdue, so you stay motivated.</p>
                  </div>
                  <div class="info-box">
                     <img src="assets/images/home/book.svg">
                     <h4>Exam Preps & Quiz</h4>
                     <p>We have quizzes after each section to remind you of the key points. We also give you practice tests and hints for your exams to help you ace them.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="our-modules">
   <div class="container">
      <div class="row text-center">
         <div class="col-12">
            <h2>Our Modules</h2>
            <h3 class="col-lg-7 mr-auto ml-auto">There’s something for every child</h3>
         </div>
         <div class="col-12 m-t-20">
            <div class="row">
               <div class="col-lg-6 col-md-6 module-item item-one">
                  <div class="content">
                     <h4>Junior Secondary</h4>
                     <p>A good foundation is like a trampoline. It gives you the bounce/thrust you need to rise. So give your children that good start they need.</p>
                     <a class="btn btn-purple-outline">Get Started</a>
                  </div>
               </div>
               <div class="col-lg-6 col-md-6 module-item item-two">
                  <div class="content">
                     <h4>Senior Secondary</h4>
                     <p>Senior secondary students at all levels in Nigeria and West Africa are catered for, as all contents are based on WAEC and JAMB syllabuses.</p>
                     <a class="btn btn-purple">Contact Us</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="further-info no-p-t">
   <div class="container">
      <div class="row">
         <div class="col-lg-7 col-md-5 content">
            <h3>Enjoy self-paced interactive learning today.</h3>
            <a class="btn btn-purple">Subscribe</a>
         </div>
         <div class="col-lg-5 col-md-7">
            <img src="assets/images/home/device-sample-2.png" />
         </div>
      </div>
   </div>
</section>