<section class="page-heading">
  <div class="container">
     <div class="row">
        <div class="col-12  centered text-center">
           <h1>Privacy Policy</h1>
        </div>
     </div>
  </div>
</section>

<section class="privacy">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Welcome to the Accave Privacy Policy (Policy).</p>
        <p>Accave (“We” or “Our”) operates www.accave.com (the “Website”) and Accave Mobile Application (the “Application”). The Website and Application are platforms built to host, manage, and deploy curriculum-based content to learners via smartphones and tablets, with utmost concern for internet limitations and costs.</p>
        <p>This page informs you of Our policies regarding the collection, use and disclosure of your personal data when you visit, access, browse through and/or use Our Website or Mobile Application (“Platform”) and when you use any storage or transmitting device provided by us</p>
        <p>Please read carefully, as it’s important for you to understand how We store and protect the private information you provide us. If you have any questions about this Policy or Our data protection practices, kindly contact us</p>
        
        <h2>Contact Details</h2>
        <p>Our full details are:</p>
        <p>
          Full name of legal entity: Listacc Limited<br/>
          Email address:  <a href="mailto:mail.listacc@gmail.com">mail.listacc@gmail.com</a><br/>
          Phone number: 08166300937
        </p>
        
        <h2>Consent</h2>
        <p>By accessing or using Our services or Products, you agree to the collection and use of information in accordance with this Policy. Once you provide consent, you may change your mind and withdraw the consent at any time by contacting us at (<a href="mailto:mail.listacc@gmail.com">mail.listacc@gmail.com</a>) but please note that consent withdrawal will not affect the lawfulness of any processing carried out before you withdraw your consent.</p>
        
        <h2>The Data We Collect About You</h2>
        <p>When signing up on Our Platform, We collect the following information about you:</p>
        <ul>
          <li>Profile data, such as your name, class (in school), and phone number</li>
          <li>Financial data, such as your card information, billing address, and payment options may also be required by our payment service providers</li>
          <li>Learning statistics such as lessons viewed, test scores, and so on.</li>
        </ul>
        
        <h2>How We Use Your Personal Data</h2>
        <p>We will only use your personal data for the purpose for which We collected it which may include the following:</p>
        <ul>
          <li>To register you as a new user.</li>
          <li>To make the Platform easier for you to use by not having to enter information more than once;</li>
          <li>To manage your relationship with us.</li>
          <li>To manage risk, or to detect, prevent, and/or remediate fraud or other potentially prohibited or illegal activities; and</li>
          <li>To send periodic emails and marketing materials regarding your interest in Our products and services.</li>
        </ul>
        
        <!--
        <h2>Cookies</h2>
        <p>Our Website uses cookies (small files containing a string of characters), which We place on your computer, if you agree. These cookies allow us to uniquely identify your browser and to distinguish you from other users of Our Website. This enables us to track your preferences and provide you with a personalized and smooth experience when you browse Our Website. The cookies We use are “analytical” cookies. They allow us to recognize and count the number of visitors and to see how visitors move around the Website when they are using it. This helps us to improve the way Our Website works, for example by ensuring that users are finding what they are looking for easily. We do not share the information the cookies collect with any third parties.</p>
      -->

      <!--
        <h2>User Profiles</h2>
        <p>Every registered user has a unique personal profile. Each profile is assigned a unique personal identification number, which helps us ensure that only you can access your profile.</p>
        <p>When you register, We create your profile, assign a personal identification number, (your User ID) then send this personal identification number back your email address with an activation link for the activation of your profile. This code is uniquely yours. It is your passport to seamless travel across Our Platform, allowing you to use Our Platform without having to fill out registration forms with information you’ve already provided. Even if you switch computers, you won't have to re-register – just use your User ID to identify yourself.</p>
    -->

        <h2>Security</h2>
        <p>Accave takes appropriate security measures to protect against unauthorized access, alteration, disclosure, or destruction of your personal data that we collect and store. Please be assured that We have put in place appropriate security measures including but not limited to access controls, firewalls, data encryption, and physical security to prevent your personal data from being lost, altered, disclosed, or otherwise used in an unauthorized way.</p>
        <p>Your password is an important part of our security system, and it is your responsibility to protect it. You should not share your password with any third party, and if you believe your password or account has been compromised, you should change it immediately and contact us at mail.listacc@gmail.com</p>
        <p>The internet is not a secure medium, We cannot guarantee that security breaches will never occur. And as such, We are not responsible for the matters, which include actions of hackers and other unauthorized third parties that breach Our reasonable security procedure.</p>

        <h2>Retention of Personal Information</h2>
        <p>We will keep your personal information for as long as it is required and in accordance with the purpose it is being processed for, or for tax, accounting, regulatory, or legal purposes. We will keep the personal data for a period which enables us to handle or respond to any complaints, queries or concerns relating to Our relationship with you. Related to this, We may retain your personal data for a longer period in the event of a complaint or if We reasonably believe there is a prospect of litigation in respect to Our relationship with you.</p>
        <p>You may notify us whenever you no longer wish to hear from us and We will keep minimum information upon receipt of such notice to ensure that no future contact is made by us.</p>

        <h2>Your Legal Rights</h2>
        <p>You have the right to;</p>
        <ul>
          <li>Request access to your personal data (commonly known as a "data subject access request"). This enables you to receive a copy of the personal information We hold about you and check that We are lawfully processing it;</li>
          <li>Request correction of the personal data that We hold about you. This allows you to have cored any incomplete or inaccurate data We hold about you, though We may need to verify the accuracy of the new data you provide to us;</li>
          <li>Request erasure of your personal data. This enables you to ask us to delete or remove personal data where there is no good reason for us continuing to process it. You also have the right to ask us to delete or remove your personal data where you have successfully exercised your right to object to processing (see below), where We may have processed your information unlawfully or where We are required to erase your personal data to comply with local law. Note however, that We may not always be able to comply with your request of erasure for specific legal reasons which will be notified to you, if applicable, at the time of your request;</li>
          <li>Refuse the processing of your personal data where We are relying on a legitimate interest (or those of a third party) and there is something about your particular situation which makes you want to refuse the processing on this ground as you feel it impacts on your fundamental rights and freedoms. You also have the right to object where We are processing your personal data for direct marketing purposes. In some cases, We may demonstrate that We have compelling legitimate grounds to process your information which override your rights and freedoms;</li>
        </ul>

        <h2>Changes to Our Privacy Policy</h2>
        <p>We reserve the right to amend or make changes to this Privacy Policy and if We do so, We will post the changes on this page. It is your responsibility to check the Privacy Policy every time you submit information to us or use Our services. Your use will signify that you agree to any such changes. In the event the purpose is for processing change, or if a revision is material, Accave will notify you via electronic mail or via a pop-up or redirection when you log in to our Platform.</p>

        <h2>Disclaimer</h2>
        <p>By this Policy We do not represent or warrant the condition or functionality of Our platform(s), its suitability for use, nor guarantee that Our service will be free from interruption or any error. No liability or responsibility shall lie for risks associated with the use of Our Platform, including but not limited to any risk to your computer, software or data being damaged by any virus, software, or any other file that might be transmitted or activated via Our Platform or your access to it. Neither do We guarantee the reliability of information contained on Our Platform—particularly those shared by third party users.</p>

        <h2>Questions</h2>
        <p>If you have any questions, concerns, or disputes regarding our Privacy Policy, please feel free to contact us at <a href="mailto:mail.listacc@gmail.com">mail.listacc.com</a></p>
      </div>
    </div>
  </div>
</section>
